<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Test</title>

    <!-- BEGIN BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- END BOOTSTRAP -->

    <meta name="viewport" content="width-device-width, initial-scale-1.0">    
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>


  <body class="scrollbar-3">

    <header>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <svg class="acm_svg" width="15mm" height="15mm" clip-rule="evenodd" fill-rule="evenodd" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" version="1.1" viewBox="0 0 8467 8467" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
              <defs>
              <style type="text/css">

.fil1 {fill:#FEFEFE}
.fil2 {fill:url(#b)}
.fil0 {fill:url(#a)}

              </style>
              <linearGradient id="b" x1="4269.2" x2="4197.5" y1="1904.7" y2="6562" gradientUnits="userSpaceOnUse">
              <stop stop-color="#00A1D8" offset="0"/>
              <stop stop-color="#66C5E4" offset="1"/>
              </linearGradient>
              <linearGradient id="a" x1="4325.3" x2="4141.3" y1="8465.6" y2="1.0146" gradientUnits="userSpaceOnUse">
              <stop stop-color="#00A1D8" offset="0"/>
              <stop stop-color="#50CDE1" offset="1"/>
              </linearGradient>
              </defs>


              <polygon class="fil0" points="4233 0 6350 2117 8467 4233 6350 6350 4233 8467 2117 6350 0 4233 2117 2117"/>
              <path class="fil1" d="m4233 1904c-1286 0-2329 1043-2329 2329 0 1287 1043 2329 2329 2329 1287 0 2329-1042 2329-2329 0-1286-1042-2329-2329-2329zm0-266c-1433 0-2595 1162-2595 2595 0 1434 1162 2596 2595 2596 1434 0 2596-1162 2596-2596 0-1433-1162-2595-2596-2595z"/>
              <circle class="fil2" cx="4233" cy="4233" r="2329"/>
              <path class="fil1" d="m3193 4129c0-277-121-506-509-506-212 0-372 60-453 105l67 234c76-48 202-88 321-88 179 0 212 88 212 152v14c-412 0-683 143-683 446 0 186 140 357 376 357 138 0 257-50 334-143h7l21 117h327c-15-64-20-172-20-281v-407zm-350 264c0 21-2 43-7 62-24 74-100 133-188 133-81 0-143-45-143-138 0-138 148-183 338-183v126zm1470 126c-55 24-121 38-207 38-176 0-319-114-319-326-3-191 121-326 312-326 95 0 159 16 202 35l57-269c-76-28-181-45-276-45-434 0-667 279-667 619 0 365 241 596 617 596 138 0 260-24 324-55l-43-267zm243 298h353v-679c0-31 2-64 14-93 21-57 76-129 169-129 117 0 169 101 169 246v655h353v-681c0-31 5-67 12-93 26-69 83-127 169-127 117 0 171 98 171 267v634h353v-686c0-350-169-508-393-508-86 0-157 22-222 58-57 33-107 81-152 143h-5c-50-122-167-201-319-201-198 0-303 110-353 186h-7l-14-157h-307c4 105 9 226 9 372v793z"/>
              <path class="fil1" d="m3084 5119v437c0 249 115 360 312 360 205 0 327-116 327-357v-440h-177v450c0 140-51 205-144 205-89 0-142-69-142-205v-450h-176zm792 784h176v-282c16 4 37 5 60 5 105 0 195-27 255-82 48-43 72-110 72-186 0-77-32-142-84-182-52-42-130-63-239-63-108 0-185 7-240 17v773zm176-649c13-3 37-6 72-6 90 0 140 43 140 115 0 79-59 127-153 127-26 0-44-1-59-5v-231zm1159 649h172l-42-784h-232l-83 261c-27 87-53 190-74 281h-5c-17-92-41-190-66-280l-77-262h-236l-50 784h164l15-298c5-97 9-218 13-324h2c20 102 46 214 71 307l84 302h138l95-306c31-92 63-203 89-303h2c0 114 4 228 7 322l13 300z"/>

            </svg>
            <strong>ACM Library</strong>
          </a>
          <a href="/addBook" class="navbar-brand d-flex align-items-center">
            <strong>Añadir Libro</strong>
            <a>
        </div>
      </div>
    </header>

    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="book" type="text" class="ghost-input" placeholder="Nombre o ISBN del Libro" required>
          <input type="submit" class="ghost-button" value="Buscar">
        </form>
      </fieldset>
    </div>

    <!-- Si hay algun error -->
    <% if(error !== null){ %>
    <p><%= error %></p>
    <% } %>

    <div class="container2">
      <!-- Si han hecho la busqueda mediante ISBN -->
      <% if(isISBN !== null && isISBN) {%>
      <div class="content">
        <h3>ISBN</h3>
        <p><%= book.ISBN %></p>
      </div>

      <div class="content">
        <h3>Title</h3>
        <p><%= book.title %></p>
      </div>

      <div class="content">
        <h3>Author</h3>
        <p><%= book.author %></p>
      </div>

      <div class="content">
        <h3>Edition</h3>
        <p><%= book.edition %></p>
      </div>

      <div class="content">
        <h3>Publisher</h3>
        <p><%= book.publisher %></p>
      </div>
      <% } else {%>
      <!-- Si han hecho la busqueda mediante Titulo -->
      <% for(pointer in book){ %>

      <div class="content">
        <h3>ISBN</h3>
        <p><%= book[pointer].ISBN %></p>
      </div>

      <div class="content">
        <h3>Title</h3>
        <p><%= book[pointer].title %></p>
      </div>

      <div class="content">
        <h3>Author</h3>
        <p><%= book[pointer].author %></p>
      </div>

      <div class="content">
        <h3>Edition</h3>
        <p><%= book[pointer].edition %></p>
      </div>

      <div class="content">
        <h3>Publisher</h3>
        <p><%= book[pointer].publisher %></p>
      </div>

      <% } // Fin del for%>
      <% } // Fin del else%>
    </div>
  </body>

</html>
